<footer class="box_footer container-fluid mt-5">
    <div class="box_connected">
        <div class="connetced container">
            <h2>Stay Connected With Our Email Updates</h2>
            <div class="input_email">
                <input type="email" placeholder="Enter Your Email Address">
                <input type="submit" value="Subscribe">
            </div>
        </div>
    </div>
    <div class="box_info container">
        <div class="box_social col-sm-3 column">
            <span><a href="#">ARTCRAFT.</a></span>
            <p><a href="#"> There are many variations of passages of look even slightly believable</a></p>
            <div class="social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-google-plus"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div class="info col-sm-3 column">
            <h5>Information</h5>
            <ul class="info_list">
                <li class="info_item"><a href="#" class="info_link" >About Us</a></li>
                <li class="info_item"><a href="#" class="info_link" >Delivery Information</a></li>
                <li class="info_item"><a href="#" class="info_link" >Privacy Policy</a></li>
                <li class="info_item"><a href="#" class="info_link" >Terms & Conditions</a></li>
                <li class="info_item"><a href="#" class="info_link" >Site Map</a></li>
            </ul>
        </div>
        <div class="info col-sm-3 column">
            <h5>Extras</h5>
            <ul class="info_list">
                <li class="info_item"><a href="#" class="info_link" >About Us</a></li>
                <li class="info_item"><a href="#" class="info_link" >Delivery Information</a></li>
                <li class="info_item"><a href="#" class="info_link" >Privacy Policy</a></li>
                <li class="info_item"><a href="#" class="info_link" >Terms & Conditions</a></li>
                <li class="info_item"><a href="#" class="info_link" >Site Map</a></li>
            </ul>
        </div>
        <div class="info col-sm-3 column">
            <h5>Store Information</h5>
            <ul class="info_list">
                <li class="info_item"><a href="#" class="info_link" >About Us</a></li>
                <li class="info_item"><a href="#" class="info_link" >Delivery Information</a></li>
                <li class="info_item"><a href="#" class="info_link" >Privacy Policy</a></li>
                <li class="info_item"><a href="#" class="info_link" >Terms & Conditions</a></li>
                <li class="info_item"><a href="#" class="info_link" >Site Map</a></li>
            </ul>
        </div>
    </div>
</footer>