<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head'); %>

    <body>
        <div class="row"> 
            <div class="col-2"><%-include('../../partials/header'); %></div>
            <div class="container col-9">
                <div class="row">
                    <div class="wrapper_01 mt-2">
                        <div class="box-form">
                            <h3 class="text-center mb-4 text-uppercase mt-3">Register an account</h3>
                            <form action="/account/register" method="POST">
                                <div class="form-group">
                                    <label for="username" class="pb-2">Username</label>
                                    <input type="text" name="username" id="username" required>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="password" class="pb-2">Password</label>
                                    <input type="password" name="password" id="password" required>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="repassword" class="pb-2">Confirm password</label>
                                    <input type="password" name="repassword" id="repassword" required>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="email" class="pb-2">Email address</label>
                                    <input type="email" id="email" name="email" required>
                                </div>
                                <div class="form-check mt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        required>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        I Agree To The Terms & Conditions
                                    </label>
                                </div>
                                <div class="btn-sub mt-4 text-end">
                                    <button type="submit" class="btn btn-bg">Sign In</button>
                                </div>
                                <div class="btn-sub mt-2 d-flex">
                                    <p>Already have an account?</p>
                                    <a href="/account/login" class="text-decoration-none ps-2 fw-bold">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>